{%  extends 'accounts/main_home.html' %}
{% load static %}
{% block content %}


<br><br>
<div class="container">
  <div class="card-columns">

    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images11111.jpg'%}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images1111.jpg'%}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images111.jpg'%}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images13.jpg'%}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images12.jpg'%}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images11.jpg'%}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images9.jpg'%}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images8.jpg' %}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images7.jpg' %}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images6.png' %}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images5.jpg' %}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images4.jpg' %}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images3.jpg' %}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images2.jpg' %}" alt="Card image cap"> </div>
    <div class="card "> <img class="card-img-top" src="	{% static 'images/home_images/images1.png' %}" alt="Card image cap"> </div>


  </div>
</div>
<br><br>

<section class="wrapper">
    <div class="container-fostrap">
        <div>
            <img src="{% static 'images/home_images/img.jpg' %}" class="fostrap-logo"/>
            <h1 class="heading">
                Beauty Tips
            </h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" data-city="post1">
                            <a class="img-card" href="#">
                            <img src="{% static 'images/home_images/image99.jpg' %}" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#"> Protect yourself from the sun
                                  </a>
                                </h4>
                                <p class="content">
                                    One of the most important ways to take care of your skin is to protect it from the sun. A lifetime of sun exposure
                                    <span class="dots">...</span>
                                    <span class="more" style="display: none;">
                                        can cause wrinkles, age spots and other skin problems — as well as increase the risk of skin cancer.
                                    For the most complete sun protection:
                                    Use sunscreen. Use a broad-spectrum sunscreen with an SPF of at least 15. Apply sunscreen generously, and reapply every two hours — or more often if you're swimming or perspiring.
                                    Seek shade. Avoid the sun between 10 a.m. and 4 p.m., when the sun's rays are strongest.
                                    Wear protective clothing. Cover your skin with tightly woven long-sleeved shirts, long pants and wide-brimmed hats. Also consider laundry additives, which give clothing an additional layer of ultraviolet protection for a certain number of washings, or special sun-protective clothing — which is specifically designed to block ultraviolet rays.
                                </p>
                                <button onclick="readMore('post1')" class="myBtn">Read more</button>

                                <a class="more"></a>
                            </div>
                            <div class="card-read-more">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" data-city="post2">
                            <a class="img-card" href="#">
                            <img src="{% static 'images/home_images/image999.jpg' %}" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#"> Treat your skin gently
                                  </a>
                                </h4>
                                <p class="">
                                    Daily cleansing and shaving can take a toll on your skin. To keep it gentle:
                                    Limit bath time. Hot water and long
                                        showers or baths remove oils from your skin.
                                    <span class="dots">...</span>
                                    <span class="more" style="display: none;">
                                        Limit your bath or shower time, and use warm — rather than hot — water.
                                    Avoid strong soaps. Strong soaps and detergents can strip oil from your skin. Instead, choose mild cleansers.
                                    Shave carefully. To protect and lubricate your skin, apply shaving cream, lotion or gel before shaving. For the closest shave, use a clean, sharp razor. Shave in the direction the hair grows, not against it.
                                    Pat dry. After washing or bathing, gently pat or blot your skin dry with a towel so that some moisture remains on your skin.
                                    Moisturize dry skin. If your skin is dry, use a moisturizer that fits your skin type. For daily use, consider a moisturizer that contains SPF.
                                </p>
                                   <button onclick="readMore('post2')" class="myBtn">Read more</button>
                            </div>
                            <div class="card-read-more">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card" data-city="post3">
                            <a class="img-card" href="#">
                            <img src="{% static 'images/home_images/image9999.jpg' %}" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">  Eat a healthy diet
                                  </a>
                                </h4>
                                <p class="">
                                    A healthy diet can help you look and feel your best. Eat plenty of fruits, vegetables, whole grains and lean proteins.

                                        The association between diet and acne isn't clear
                                    <span class="dots">...</span>
                                    <span class="more" style="display: none;">
                                        — but some research suggests that a diet rich in fish oil or fish oil supplements
                                        and low in unhealthy fats and processed or refined carbohydrates might promote younger looking skin. Drinking plenty of water helps keep
                                        your skin hydrated.
                                    </span>

                                </p>
                                    <button onclick="readMore('post3')" class="myBtn">Read more</button>

                            </div>
                            <div class="card-read-more">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>
//READ MORE/LESS BUTTON

    function readMore(city) {
    let dots = document.querySelector(`.card[data-city="${city}"] .dots`);
    let moreText = document.querySelector(`.card[data-city="${city}"] .more`);
    let btnText = document.querySelector(`.card[data-city="${city}"] .myBtn`);

    if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.textContent = "Read more";
        moreText.style.display = "none";
    } else {
        dots.style.display = "none";
        btnText.textContent = "Read less";
        moreText.style.display = "inline";
    }
}
</script>


{% endblock content %}